/* ------------------------------ */
/* ========== Our Benefits =======*/
/* ------------------------------ */

.benefits {
        // padding-bottom: 0px;
}

.benefits__list {
    display: block;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
 
                @media screen and (min-width: 1199px) {
                    flex-wrap: nowrap;
                }
}

.benefits__item {
    @media screen and (min-width: 768px)  {
        flex-basis: calc((100% - 60px) / 2);
    }
        @media screen and (max-width: 767px) {
            &:not(:last-child) {
                    margin-bottom: 30px;
                }
        }
}

// .benefits__item:not(:last-child) {
//     margin-bottom: 30px;
// }

// .benefits__item:not(:last-child) {
//     margin-right: 30px;
// }

.benefits__item:not(:last-child) {
    margin-bottom: 30px;
}


.benefits__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 25px 100px;
    background-color: #f5f4fa;
    @media screen and (min-width: 768px) and (max-width: 1199px){
            padding: 25px 142px;
        }
}

.benefits__icon-box-indet-bottom {
    margin-bottom: 30px;
}

.benefits__icon {
    display: block;
    fill: currentColor;
    color: #2196f3;
}

.benefits__subtitle {

    @media screen and (max-width: 767px) {
    text-align: center;
    }
    
    font-size: 14px;
    font-weight: 700;

    line-height: 1.14;
    text-transform: uppercase;
}

.benefits__subtitle-indet-bottom {
    margin-bottom: 10px;
}

.benefits__text {
    line-height: 1.71;
    color: var(--secondary-color);
}