/* ------------------------------ */
/* ======== Order service= =======*/
/* ------------------------------ */

.order {
    /* margin-top: 80px;  For fixed header*/
    
    
    
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--gray);
    text-align: center;

    @media screen and (min-width: 1199px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.order__overlay {
    max-width: 1600px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/order-img.jpg);

    @media screen and (min-width: 1199px) {
        height: 600px;
        }
}

.order__overlay-indent-right-left {
    margin-left: auto;
    margin-right: auto;
}

.order__title {
        
        color: var(--thirdy-color);
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        
        @media screen and (min-width: 1199px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
      
 }  
    
 
}

.order__title-indent {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
}

.order-button {
    padding: 10px 24px;
    min-width: 200px;

    @media screen and (min-width: 1199px) {
        padding: 10px 32px;
        min-width: 216px;
    }
}