/* ------------------------------ */
/* ======= Footer social icon ====*/
/* ------------------------------ */

.social-box {
    margin-right: auto;
}

.social__list {
    display: flex;
    column-gap: 10px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    color: var(--thirdy-color);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
    background-color: #2196f3;
}

.social__logo {
    fill: currentColor;
}