body {
    /* margin: 0px;  for fixed header */
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    letter-spacing: 0.03em;
    font-size: var(--primary-font-size);
}

.header-nav.container {
    @media screen and (max-width: 767px) {

        margin: 0 auto 0 15px;

    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;


@media screen and (min-width: 480px) {

width: 480px;
}

@media screen and (min-width: 768px) {
width: 768px;
}

@media screen and (min-width: 1200px) {

width: 1200px;
}
}



.primary-indent {
    margin: 0 auto;
}



.section {
    padding: 60px 0px;

@media screen and (min-width: 1199px) {
    padding: 94px 0px;        
}
}

.section-title {
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
 
 
@media screen and (min-width: 1199px) {
        font-size: 36px;
        line-height: 1.17;
 }
}

.section-title__indent-bottom {
  margin-bottom: 50px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

/* Hidden element. Example h1-h6 */
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

